{{define "scheduleCreate"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать расписание</title>
</head>
<body>
<div>
    <form action="/schedule" method="post">
        название лекарства <br>
        <input type="text" name="medicamentName"><br>
        количество приёмов в день<br>
        <input type="number" name="receptionsPerDay" placeholder="количество приёмов в день"><br>
        продолжительность лечения<br>
        <input type="number" name="duration" placeholder="укажите в днях"><br>
        id пациента<br>
        <input type="number" name="userID"><br>
        <input type="submit">
    </form>
</div>
</body>
</html>
{{end}}